.banner{
    background: url("https://i.pinimg.com/originals/3e/21/e2/3e21e244eb539a059be59fa19cb6c4e8.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20px;
    color: #fff

}
